@tailwind base;
@tailwind components;
@tailwind utilities;

/* .error {
  color: red;
  background: grey;
} */

html {
  font-family: var(--font-open-sans);
}

h1,
h2 {
  font-family: var(--font-shadows-into-light);
}

.normal-weight {
  font-weight: var(--font-weight-400);
}

.medium-weight {
  font-weight: var(--font-weight-500);
}

.light-weight {
  font-weight: var(--font-weight-300);
}
