@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  src: url('/path-to-your-font/Inconsolata-200.woff2') format('woff2');
}




.error {
  color: red;
  background: grey;
} */
