// .input {
//   border-radius: 25px;
//   border: 1px solid #b8d8be;
//   padding: 5px;
//   width: 300px;
//   text-align: left;
// }

// .label {
//   width: 150px;
//   // width: 100%;
//   text-align: left;
//   margin-right: 10px;
// }

// .confirmButton {
//   background-color: #b8d8be;
//   border-radius: 25px;
//   border: 1px solid;
//   padding: 10px;
// }
