.videos-container {
  max-width: 80%;
  margin: 0 auto; /* Center the container */
}

/* Global CSS or module CSS */
.video-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust the column size as needed */
  gap: 20px; /* Adjust the gap between items as needed */
}

.video-item {
  width: 100%; /* Each item takes the full width of its grid cell */
}
